* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #FFFAE9;
    font-family: "Ingra", sans-serif;
    color: #041725;
    padding: 0 3rem;

    main {
        width: 100%;
        margin: 0 auto;
    }
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

p {
    font-size: 25px;
}


.shantell {
    font-family: "shantell-sans-informalbouncy", sans-serif;
    color: #246FA8;
}

/* Barre de Navigation  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25rem 0 1rem 0;

    .nav-links {
        font-size: 1, 5 rem;
        display: flex;
        gap: 25px;
        font-weight: bold;

        a {
            color: #041725;

            &:hover {
                color: #246FA8;
            }
        }
    }

    .logo {
        width: 4rem;
        align-items: center;
        display: flex;
    }
}

/* Fin de la barre de Navigation  */

/* Page d'accueil */
.hero-section {
    display: flex;
    align-items: center;
    height: 100%;

    p {
        max-width: 50rem;
        margin-top: 2rem;
    }

    .right {
        spline-viewer {
            width: 50rem;
            height: 50rem;

            iframe #logo {
                display: none !important;
                position: absolute;
            }
        }
    }
}

/* Fin de la page d'accueil */

/* Page des projets */
.work-section {
    height: 100%;
    padding: 10rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    img {
        align-items: center;
        height: 25rem;
        width: 25rem;
    }

    a {
        color: #041725;
        font-size: 60px;
        margin: 0 auto;

        &:hover {
            color: #246FA8;
        }
    }
}

/* Fin de la page des projets */

/* Page présentation */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 6rem 0;

    img {
        width: 25rem;
        height: auto;
        object-fit: cover;
        border-radius: 500px;
    }

    .droite {
        max-width: 80rem;
        padding: 0 4rem 0 6rem;

        p {
            max-width: 50rem;
            margin-top: 2rem;
        }
    }

    .go-back {}
}

/* Fin de la page de présentation */

/* Pied de page */
footer {
    width: 100vw;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    a {
        transition: tranform 0.3s ease;

        img {
            width: 40px;
            height: auto;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

/* Fin du pied de page */